@import "src/Variables";

.input_checkbox {
  position: absolute;
  left: -10000px;
  display: none;
  opacity: 0;
}

.custom_checkbox_label {
  position: relative;
  display: flex;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: $site-color-12;
  border: 1px solid $site-color-5;
  border-radius: 4px;
  margin: 2px auto;
  transition: all 0.35s ease;

  &:hover {
    &:after {
      border-color: $site-color-8;
    }
  }

  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 38.5%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 5px;
    height: 11px;
    border-bottom: 2px solid $site-color-5;
    border-right: 2px solid $site-color-5;
    opacity: 1;
    transition: all 0.35s ease;
  }
}

.input_checkbox:checked + .custom_checkbox_label {
  &:after {
    border-color: $site-color-8;
  }
}

.decomposed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;

  .key_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }

  .space_tab {
    width: 8px;
    min-width: 8px;
    max-width: 8px;
    height: auto;
    display: flex;
  }
}