@import "../../Variables";

.btnSwipe {
  width: auto;
  height: 20px;
  padding: 0 8px;
  cursor: pointer;
  border: 1px solid $color-7;
  border-radius: 2px;
  background: $color-5;
  margin: 0 4px;
  color: $color-3;
  font-size: 10px;
  transition: all 0.35s ease;

  &:hover {
    color: $color-2;
  }

  &:disabled {
    cursor: default;
    color: $color-7;

    &:hover {
      color: $color-7
    }
  }
}