@import "src/Variables";

$height-param: 64px;

.wrapper_recipes {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;

  .search_recipes {
    width: 100%;
    height: 40px;
    min-height: 40px;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid $site-color-5;
    transition: all 0.25s ease-in-out;
    color: $site-color-2;
    padding: 0 8px;
    font-size: 14px;
    top: 0;
    position: sticky;
    z-index: 1;

    &:hover,
    &:focus,
    &:active {
      outline: none;
      color: $site-color-10;
    }
  }

  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    .image_block {
      display: flex;
      width: $height-param;
      min-width: $height-param;
      max-width: $height-param;
      height: $height-param;
      min-height: $height-param;
      max-height: $height-param;
      cursor: pointer;

      &:nth-child(2n) {
        background: rgba(255, 255, 255, 0.04);
      }
    }
  }
}
