[data-theme="dark"] {
  --main0: #000000; //
  --main1: #00ff00; //
  --main2: #e4007f; //
  --main3: #ffb400; //
  --main4: #ff0000; //
  --main5: #f4f4f4; //
  --main6: #9e9e9e; //
  --main7: #27272a; //
  --main8: #545454; //
  --main9: #2c2c2c; //
  --main10: #3c3c3c; //
  --main11: #1c1c1f; //
  --main12: #363636; //
}
