@import "../../Variables";

.input_checkbox{
  width: 16px;
  height: 16px;
  margin: 6px auto;
}

.decomposed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: auto;
}