@import "src/Variables";

.notifications_footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 12px;

  .info {
    font-size: 14px;
    text-align: center;
    color: $site-color-2;
    height: auto;
    line-height: 1.45;
    margin: 4px 0;
  }

  .link {
    color: $site-color-2;
    text-decoration: underline;
    padding-left: 4px;
  }
}
