@import "src/Variables";

.view_one_item {
  width: 48px;
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  min-height: 48px;
  max-height: 48px;
  border-radius: 4px;
  margin: 2px;
  border: 2px solid $site-color-5;
  background: $site-color-13;
  position: relative;
  padding: 2px;

  .image {
    transition: all 0.35s ease;
  }

  .help_variant {
    position: absolute;
    top: 2px;
    right: 2px;
    color: $site-color-9;
    font-size: 14px;
    text-align: center;
    z-index: 1;
  }
}

.view_one_item_hover {
  .image {
    cursor: pointer;
  }
}