@import "src/Variables";

.calculated {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;

  .output_count_box {
    display: flex;
    flex-direction: row;
    width: auto;
    min-width: max-content;
    height: auto;

    .output_image_shulker {
      width: 20px;
      min-width: 20px;
      max-width: 20px;
      height: 20px;
      min-height: 20px;
      max-height: 20px;
      margin: 1px 2px 1px 0;
    }

    span,
    label {
      height: 20px;
      line-height: 22px;
      margin: 2px 4px 0 0;
      font-size: 14px;
      width: auto;
      color: $site-color-2;
    }
  }
}