@import "../../Variables";

.calculated {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  margin-left: 8px;

  .output_count_box {
    display: flex;
    flex-direction: row;
    width: auto;
    min-width: max-content;
    height: auto;

    .output_image_shulker {
      width: 24px;
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      min-height: 24px;
      max-height: 24px;
    }

    span,
    label {
      height: 20px;
      line-height: 20px;
      margin-right: 4px;
      font-weight: 400;
      font-size: 12px;
      margin-top: 4px;
      width: auto;
      color: $site-color-2;
    }
  }
}