@import "../../Variables";

.craftWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: auto;

  .viewCraft {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-7;
    border-radius: 4px;
    background: $color-5;
    width: max-content;
    margin: 0 4px;
    padding: 0 24px;
    min-width: 400px;

    .required_count {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 4px auto 0 auto;
    }

    .crafter {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .requiredContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 160px;
        height: 160px;
        padding: 2px;

        .craftOne {
          width: 48px;
          height: 48px;
          display: flex;
          border: 1px solid $color-7;
          border-radius: 4px;
          margin: 2px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .separatorContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 160px;
        width: auto;
        margin: 0 6px;

        span {
          font-size: 48px;
          color: $color-7;
        }
      }

      .outputContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 160px;
        width: auto;
        position: relative;

        .outputName {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          top: 16px;
          color: $color-3;
          font-size: 11px;
          width: auto;
          min-width: 148px;
          line-height: 1.35;
          text-align: center;
        }

        .output {
          width: 64px;
          height: 64px;
          display: flex;
          border: 1px solid $color-7;
          border-radius: 4px;
          margin: 0 4px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
          }

          span {
            position: absolute;
            right: 4px;
            bottom: 4px;
            font-size: 15px;
            color: $color-3;
          }
        }

        .btnWrapper {
          position: absolute;
          left: 50%;
          transform: translate(-50%);
          bottom: 20px;
          display: flex;
          flex-direction: row;
          justify-content: center;
        }
      }
    }

    .outFullBox {
      display: flex;
      flex-direction: column;
      width: auto;
      margin: 0 auto 4px auto;

      .result {
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;

        .name {
          height: 20px;
          line-height: 20px;
          font-weight: 400;
          font-size: 13px;
          margin-top: 4px;
          margin-left: 2px;
          color: $color-3;

        }
      }
    }
  }
}