@import "../../Variables";

body {
  .modalMain {
    position: absolute;
    z-index: 12001;
    border-left: 1px solid $color-7;
    background: $color-1;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    overflow-x: hidden;
    outline: none !important;

    .wrapperModal {
      display: flex;
      flex-direction: column;

      .searchCraft {
        width: 100%;
        height: 32px;
        outline: none;
        background: $color-5;
        border: none;
        border-bottom: 1px solid $color-7;
        transition: all 0.25s ease-in-out;
        color: $color-3;
        padding: 0 8px;
        margin-bottom: 4px;
        font-size: 12px;

        &:hover,
        &:focus,
        &:active {
          outline: none;
          color: $color-4;
        }
      }

      .rowCraftOne {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        transition: all 0.35s ease;
        margin: 1px 0;

        &:hover {
          background: #000c14;
        }

        .image {
          width: 28px;
          min-width: 28px;
          max-width: 28px;
          height: 28px;
          min-height: 28px;
          max-height: 28px;
          margin: 0 4px;
          cursor: pointer;
        }

        .nameCraft {
          line-height: 28px;
          height: 28px;
          color: $color-3;
          font-size: 12px;
          margin-right: 4px;
          cursor: pointer;
        }
      }
    }

    .wrapperPrevCraft {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      padding: 16px 0;

      .oneBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 178px;
        margin: 0 4px 16px 4px;
        padding: 4px;
        border: 1px solid $color-1;
        background: $color-5;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.35s ease;

        &:hover {
          border: 1px solid $color-8;
        }

        .prevCraft {
          width: 48px;
          min-width: 48px;
          max-width: 48px;
          height: 48px;
          min-height: 48px;
          max-height: 48px;
          border: 1px solid $color-1;
          margin: 4px;
        }
      }
    }
  }

  .customWight {
    left: 55% !important;
  }

  .overlayModal {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 12002;
    background: $color-5;
  }
}