$color-1: #011625;
$color-2: #00ff00;
$color-3: #a9a9a9;
$color-4: #e4007f;
$color-5: rgba(0, 6, 11, 0.8);
$color-6: rgba(1, 22, 37, 0.80);
$color-7: rgba(255, 255, 255, 0.1);
$color-8: rgba(255, 255, 255, 0.25);
