$site-color-1: rgba(24, 24, 27, 1); // для ховеров
$site-color-2: rgba(244, 244, 244, 1); // текст
$site-color-3: rgba(17, 17, 20, 1); // основный фон + хидер
$site-color-4: rgba(39, 39, 42, 1); // модалки
$site-color-5: rgba(255, 255, 255, 0.1); // бордеры в большей степени
$site-color-6: rgba(113, 113, 122, 1); // скрол
$site-color-7: rgba(39, 39, 42, 1); // фон скрола
$site-color-8: rgba(0, 255, 0, 1); // цвета
$site-color-9: rgba(255, 180, 0, 1); // цвета
$site-color-10: rgba(228, 0, 127, 1); // цвета
$site-color-11: rgba(255, 0, 0, 1); // цвета
$site-color-12: rgba(17, 17, 20, 0.5); // поле в модалке какой то