@import "../../Variables";

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 32px 0;

  .required_input_count {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    margin: 0 auto 8px auto;
  }
}